<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Network</title>
</head>
<body>

<article class="today">
  <h3 class="menu_icon"> <img alt="Icon" src="/assets/icon_today.png"/> CONCERTS TAKING PLACE TODAY </h3>
    <ul class="list">
    <% @concerts.each do |concert| %>
      <li><%= link_to(concert.artist, concert_path(concert.id)) %></li>
      <li><img src="/assets/location.png" width="34" height="34" alt="location"/> <%= concert.venue%>, <%= concert.city%></li>
      <li><img src="/assets/price.png" width="34" height="34" alt="location"/> <%= concert.price%>€</li> 
    <% end %> 
  </ul>
</article>

<aside class="month">
  <h3 class="menu_icon"> <img alt="Icon" src="/assets/icon_month.png" /> CONCERTS COMING... </h3>
    <ul class="list">
    <% @next_concerts.each do |concert| %>
      <li><%= link_to(concert.artist, concert_path(concert.id)) %></li>
      <li><img src="/assets/location.png" width="34" height="34" alt="location"/> <%= concert.venue%>, <%= concert.city%></li>
      <li><img src="/assets/price.png" width="34" height="34" alt="location"/> <%= concert.price%>€</li> 
    <% end %> 
  </ul> 
</aside>

  
</body>
</html>




